<?xml version="1.0"?>
<launch>
    <include file="$(find visca_ros)/launch/camera.launch">
      <arg name="camera_name" value="zoomcam" />
      <arg name="video_stream_provider" value="0" />
      <arg name="visualize" value="false"/>
    </include>
    <node name="web_video_server_node" pkg="web_video_server" type="web_video_server" output="screen">
      <param name="port" value="8081"/>
    </node>
    <node name="visca_camera_node" pkg="visca_ros" type="visca_node" output="screen">
      <param name="max_zoom_value" value="31424"/>
    </node>
</launch>
